<header>
  <div class="top__header">
    <div class="top__header-phone">
      <img src="#" class="phone__icon">
      <p class="phone__number">Call +001 555 801</p>
    </div>

    <div class="top__header-customer">
      <p class="customer__welcome">Welcome MSG!</p>
      <span> | </span>
      <p class="customer__account">My Account</p>
      <span> | </span>
      <p class="customer__wishlist">My Wishlist</p>
      <span> | </span>
      <p class="customer__login">LOGIN</p>
    </div>
  </div>
  <div class="bottom__header"></div>
</header>