<div class="brands">
  <div class="brands__title">
    <span class="line"></span>
    <span class="diamond"></span>
    <h3>{{ section.settings.title }}</h3>
    <span class="diamond"></span>
    <span class="line"></span>
  </div>

  <div class="brands__grid">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'brand_logo' %}
          <div class="brands__grid-logo">
            {{ block.settings.brand_logo | img_url: 'medium' | img_tag }}
          </div>
        {% else %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "brands",
    "tag": "section",
    "class": "brands",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Our Brand"
      }
    ],
    "blocks": [
      {
        "name": "brand logo",
        "type": "brand_logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "Brand Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "brands",
        "settings": {
          "title": "Our Brand"
        },
        "blocks": [
          {
            "type": "brand_logo"
          },
          {
            "type": "brand_logo"
          },
          {
            "type": "brand_logo"
          },
          {
            "type": "brand_logo"
          },
          {
            "type": "brand_logo"
          },
          {
            "type": "brand_logo"
          }
        ]
      }
    ]
  }
{% endschema %}