<div class="collection">
  <div class="collection__title">
    <span class="line"></span>
    <span class="diamond"></span>
    <h3>{{ section.settings.featured_collection.title }}</h3>
    <span class="diamond"></span>
    <span class="line"></span>
  </div>
</div> 

{% schema %}
  {
    "type": "collection",
    "id": "featured_collection",
    "label": "Featured Collection"
  }
{% endschema %}
