{% assign featured_collection = section.settings.featured_collection %}

<div class="featured__collection">
  <div class="featured__collection-title">
    <span class="line"></span>
    <span class="diamond"></span>
    <h3>{{ featured_collection.title }}</h3>
    <span class="diamond"></span>
    <span class="line"></span>
  </div>

  <div class="featured__collection-grid">
    {% for product in collections[featured_collection].products %}
      <div class="product">
        {{ product.featured_image | img_url: 'medium' | img_tag }}
        <a href="#">
          <button class="add_to_cart">+ Add To Cart</button>          
        </a>
      </div>
    {% endfor %}
  </div>
</div> 

{% schema %}
  {
    "name": "featured collection",
    "tag": "section",
    "class": "featured_collection",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured Collection"
      }
    ]
  }
{% endschema %}
