<div class="handpicked">
  <div class="handpicked__title">
    <span class="line"></span>
    <span class="diamond"></span>
    <h3>HandPicked</h3>
    <span class="diamond"></span>
    <span class="line"></span>
  </div>
  <div class="handpicked__grid"></div>
</div>